<h1>Add Question</h1>

<% unless flash.now[:error].nil? %>
<% flash.now[:error].each do | msg | %>
<h2><%= msg %></h2>
<% end %>
<% end %>

<br>
<%= form_for :question, url: user_course_exam_questions_path do |form| %>
<div><%= form.label :name, 'Name or short description' %>
<%= form.text_field :name %><div>
<br>
<div><%= form.label :body, 'Question (as it would appear on exam)' %></div>
<div><%= form.text_area :body, size: '100x10' %><div>
<br>
<div><%= form.label :answer, 'Answer (as it would appear on answer key)' %></div>
<div><%= form.text_area :answer, size: '100x10' %><div>
<br>
<div><%= form.label :standard, 'Predominant standard' %>
<%= form.select :standard, @course.standards_hash %><div>
<br>
<div><%= form.label :skill, 'Difficulty (5 stars = hardest)' %>
<%= form.select :skill, [['★',1],['★★',2],['★★★',3],['★★★★',4],['★★★★★',5]] %><div>
<br>
<%= form.submit 'Submit' %>
<% end %>

<br></br>

<%= link_to "Return", user_course_exams_path(user_id: current_user.id, course_id: @course.id) %>