<h1>Log In</h1>

<% unless flash.now[:error].nil? %>
<% flash.now[:error].each do | msg | %>
<h2><%= msg %></h2>
<% end %>
<% end %>

<%= form_for :session, url: login_path do |form| %>
<%= form.label :email %>:
<%= form.text_field :email %>
<br></br>
<%= form.label :password  %>:
<%= form.password_field :password %>
<br></br>
<%= form.submit 'Log In' %>
<% end %>
<br>
<%= link_to "Back", home_path %>