<%= render "shared/edit", {obj: :student, url: user_course_section_student_path(user_id: current_user.id, course_id: @student.course.id, section_id: @student.section.id, id: @student.id)} %>

<br></br>

<%= link_to "Return", user_course_sections_path(user_id: current_user.id, course_id: @student.course.id) %>