<h1><%= @student.name %></h1>

<br>

<h2>Skills
<% sorted_skills = @student.student_skills.sort_by {|ss| ss.standard.name } %>
<% sorted_skills.each do |skill| %>
<li><%= Standard.find_by(id: skill.standard_id).name %>: <%= skill.display %>
(<%= link_to "Add", increment_path(user_id: @student.teacher.id, course_id: @student.course.id, section_id: @student.section.id, student_id: @student.id, id: skill.id), method: :put %>,
<%= link_to "Subtract", decrement_path(user_id: @student.teacher.id, course_id: @student.course.id, section_id: @student.section.id, student_id: @student.id, id: skill.id), method: :patch %>)</li>
<% end %></h2>

<br>

<h2><%= link_to "Info", info_path %>, <%= link_to "Return", user_course_sections_path(user_id: @student.teacher.id, course_id: @student.course.id) %></h2> 