<h1>Sign Up</h1>

<% unless flash.now[:error].nil? %>
<% flash.now[:error].each do | msg | %>
<h2><%= msg %></h2>
<% end %>
<% end %>

<%= form_for @user do |form| %>
<%= form.label :name, 'Full Name' %>:
<%= form.text_field :name %>
<br></br>
<%= form.label :school, 'School (Optional)' %>:
<%= form.text_field :school %>
<br></br>
<%= form.label :email %>:
<%= form.text_field :email %>
<br></br>
<%= form.label :password  %>:
<%= form.password_field :password %>
<br></br>
<%= form.submit 'Sign Up' %>
<% end %>
<br>
<%= link_to "Return", home_path %>