<h1>Edit <%= obj.to_s.capitalize %></h1>
<% unless flash.now[:error].nil? %>
<% flash.now[:error].each do | msg | %>
<h2><%= msg %></h2>
<% end %>
<% end %>
<br>
<%= form_for obj, url: url, method: :patch do |form| %>
<div><%= form.label :name, 'Edit name or short description below.' %></div>
<div><%= form.text_area :name, size: "100x10" %><div>
<br>
<%= form.submit 'Submit' %>
<% end %>