<h1>Info</h1>

<h2>Why Scrambler?</h2>

<h3>Scrambler is an exam or assignment generator that serves two purposes:</h3>
<li>to scramble the order of questions on each copy of an exam, to prevent cheating</li>
<li>to implement differentiated teaching practices by selecting questions for each student based on learning needs</li>

<h2>Getting Started</h2>

<h3>It is recommended that new users complete the following steps in order. These steps only need to be completed once.</h3>
<li>Sign up for Scrambler by clicking <strong>Sign Up</strong> on the Welcome page and filling out the form.</li>
<li>Add one or multiple courses to your Courses page by clicking <strong>Add Courses</strong> and filling out the form.</li>
<li>Add one or multiple standards to each course by clicking <strong>Add Standards</strong> below the course title and filling out the form.
(Note: These standards can be state-mandated content and practice standards, but a more broad interpretation also suffices.
Basically, a standard can mean any learning objective of the course.)</li>
<li>Visit the Sections page for each course by clicking <strong>Sections</strong> beside each course name.
Add one or multiple sections for each course by clicking <strong>Add Sections</strong> and filling out the form.</li>
<li>Add one or multiple students to each section by clicking <strong>Add Students</strong> beside each section name and filling out the form.</li></h3>

<h2>Adjusting Student Proficiencies</h2>

<h3>Upon creation, all students are rated three stars (average) in each standard. Scrambler allows teachers to adjust these rankings over time.</h3>
<li>To adjust student ratings, click <strong>Skills</strong> beside the student's name on the roster (in the Sections page). The ratings will appear as stars beside
the name of each standard. You may add stars to a rating by clicking <strong>Add</strong> beside the appropriate standard, and by clicking <strong>Subtract
</strong> to reduce stars.</li>
<li>You may give students one to five stars in each standard, although it is generally recommended to limit one or five stars for uncommon cases.</li>

<h2>Creating & Publishing Exams</h2>

<h3>Scrambler is an exam generator that can also be used for in-class and homework assignments.</h3>
<li>To create an exam, click <strong>Exams</strong> beside the appropriate course name on the Courses page.
Then click <strong>Add Exams</strong> to add one or multiple exams by filling out the form.</li>
<li>Add questions to an exam by clicking <strong>Add Question</strong> beneath the name of the intended exam.
You may only add one question at a time. You are encouraged to add questions that cover a range of standards 
and levels of difficulty, but it is not absolutely essential. (Note: The name field, a source of confusion for
new users, acts as a simple identifier for questions in case further editing is needed.)</li>
<li>To publish an exam, click <strong>Publish</strong> beside the name of the exam. It is generally recommended 
that the number of questions on each exam is well below the number of questions available. For convenience, it
is likewise recommended that you publish an answer key to expedite grading.</li>

<h2>Contact</h2>

<h3>All inquiries, comments, or concerns should be emailed to Coulter.Woolf@gmail.com.</h3>

<h3><%= link_to "Return", @return_to_url %></h3>