<%= render "shared/edit", {obj: :section, url: user_course_section_path(user_id: current_user.id, course_id: @section.course.id, id: @section.id)} %>

<br></br>

<%= link_to "Return", user_course_sections_path(user_id: current_user.id, course_id: @section.course.id) %>