<h1><%= @course.name %> Sections (<%= link_to 'Add Sections', new_user_course_section_path(user_id: @course.user.id, course_id: @course.id) %>)</h1>

<br>
<% sorted_sections = @course.sections.sort_by {|s| s.name } %>
<% sorted_sections.each do |section| %>

<h2><%= section.name %> (<%= link_to 'Edit', edit_user_course_section_path(user_id: @course.user.id, course_id: @course.id, id: section.id) %>, <%= link_to "Delete", user_course_section_path(user_id: @course.user.id, course_id: @course.id, id: section.id), method: :delete %>)</h2>

<h3><%= section.students.count %> Students (<%= link_to "Add Students", new_user_course_section_student_path(user_id: @course.user.id, course_id: @course.id, section_id: section.id) %>)
<% sorted_students = section.students.sort_by {|s| s.name } %>
<% sorted_students.each do |student| %>
<li><%= student.name %> (<%= link_to 'Skills', user_course_section_student_path(user_id: @course.user.id, course_id: @course.id, section_id: student.section.id, id: student.id) %>, <%= link_to 'Edit', edit_user_course_section_student_path(user_id: @course.user.id, course_id: @course.id, section_id: section.id, id: student.id) %>, <%= link_to "Delete", user_course_section_student_path(user_id: @course.user.id, course_id: @course.id, section_id: section.id, id: student.id), method: :delete %>)
<% end %></li></h3>

<br>

<% end %>

<h2><%= link_to "Info", info_path %>,
<%= link_to "Return", user_courses_path(user_id: current_user.id) %></h2>