<h1><%= current_user.name %>'s Courses (<%= link_to "Add Courses", new_user_course_path(current_user) %>)</h1>

<br>
<% sorted_courses = current_user.courses.sort_by {|c| c.name } %>
<% sorted_courses.each do |course| %>
<h2><%= course.name %> 
(<%= link_to 'Exams', user_course_exams_path(user_id: current_user.id, course_id: course.id) %>, <%= link_to 'Sections', user_course_sections_path(user_id: current_user.id, course_id: course.id) %>, <%= link_to 'Edit', edit_user_course_path(user_id: current_user.id, id: course.id) %>, <%= link_to 'Delete', user_course_path(user_id: current_user.id, id: course.id), method: :delete %>)</h2>

<h3>Standards (<%= link_to 'Add Standards', new_user_course_standard_path(user_id: current_user.id, course_id: course.id) %>)
    <% sorted_standards = course.standards.sort_by {|s| s.name } %>
    <% sorted_standards.each do |standard| %>
    <li><%= standard.name %> (<%= link_to 'Edit', edit_user_course_standard_path(user_id: current_user.id, course_id: course.id, id: standard.id) %>, <%= link_to 'Delete', user_course_standard_path(user_id: current_user.id, course_id: course.id, id: standard.id), method: :delete %>)</li>
<% end %></h3>

<br>

<% end %>

<h2><%= link_to "Info", info_path %>,
    <%= link_to "Log Out", logout_path, method: :delete %></h2>