<%= render "shared/edit", {obj: :standard, url: user_course_standard_path(user_id: current_user.id, course_id: @standard.course.id, id: @standard.id)} %>

<br></br>

<%= link_to "Return", user_courses_path(user_id: current_user.id) %>