<%= render "shared/edit", {obj: :exam, url: user_course_exam_path(user_id: current_user.id, course_id: @exam.course.id, id: @exam.id)} %>

<br></br>

<%= link_to "Return", user_course_exams_path(user_id: current_user.id, course_id: @exam.course.id) %>