<h1><%= @course.name %> Exams (<%= link_to "Add Exams", new_user_course_exam_path(user_id: @course.user.id, course_id: @course.id) %>)</h1>

<br>
<% sorted_exams = @course.exams.sort_by {|e| e.name } %>
<% sorted_exams.each do |exam| %>
<h2><%= exam.name %> (<%= link_to "Publish", publish_user_course_exam_path(user_id: @course.user.id, course_id: @course.id, exam_id: exam.id) %>, <%= link_to 'Edit', edit_user_course_exam_path(user_id: exam.author.id, course_id: exam.course.id, id: exam.id ) %>, <%= link_to "Delete", user_course_exam_path(user_id: exam.author.id, course_id: @course.id, id: exam.id), method: :delete %>)</h2>
<h3><%= exam.questions.count %> Questions (<%= link_to "Add Question", new_user_course_exam_question_path(user_id: exam.author.id, course_id: @course.id, exam_id: exam.id) %>)
<% sorted_questions = exam.questions.sort_by {|q| q.name } %>
<% sorted_questions.each do |question| %>
<li> <%= question.name %>: <%= question.question_skill.display %> (<%= link_to 'Edit', edit_user_course_exam_question_path(user_id: question.author.id, course_id: question.course.id, exam_id: exam.id, id: question.id) %>, <%= link_to "Delete", user_course_exam_question_path(user_id: exam.author.id, course_id: @course.id, exam_id: exam.id, id: question.id), method: :delete %>) </li>
<% end %>
</h3>

<br>
<% end %>

<h2><%= link_to "Info", info_path %>, <%= link_to "Return", user_courses_path(user_id: @course.user.id) %></h2>