<h1>Publish <%= @exam.name %></h1>
<h2><%= flash[:alert] %></h2>
<br>
<%= form_for :publish, url: scramble_user_course_exam_path(format: :pdf) do |form| %>
<div><%= form.label :who, 'Recipients' %>
<%= form.select :who, @exam.recipients_hash %><div>
<br>
<div><%= form.label :number_of_questions, 'Desired number of questions' %>
<%= form.number_field :number_of_questions %><div>
<br>
<div><%= form.label :answer_key, 'Publish answer key?' %>
<%= form.check_box :answer_key, checked: true %><div>
<br>
<%= form.submit 'Publish' %>
<% end %>

<br></br>

<%= link_to "Return", user_course_exams_path(user_id: current_user.id, course_id: @exam.course.id) %>